// Specific CSS for your home-page
#banner {
  background-image: url(https://slack-imgs.com?c=1&o1=ro&url=https%3A%2F%2Fburst.shopifycdn.com%2Fphotos%2Fhands-typing-laptop-keyboard.jpg%3Fwidth%3D925%26format%3Dpjpg%26exif%3D0%26iptc%3D0);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: fill;
  text-align: center;
  padding-top: 40vh;
}



