/*// logos

#top-block {
  width: 100%;
}

#left-block {
  width: 50%;
}

#right-block {
  width: 50%;
}

logo-container {
  width: 100%;
}
*/

#logo-container {
  display: grid;
}


.formation-cards-container {
  margin-left: 200px;
}

.fiche-skills-container {
  border-top: 0.2px solid black;
  padding-top: 40px;
  width: 525px;
}
