<div class="main-container">
  <h1>Dashboard of <%= current_user.first_name %> <%= current_user.last_name %></h1>
  <div>
    <h2>Jobs bookmarked</h2>
    <% @jobs.each do |job| %>
      <%= job.title %>
    <% end %>
  </div>
  <div>
    <h2>Formations bookmarked</h2>
    <% @formations.each do |formation| %>
      <%= formation.title %>
    <% end %>
  </div>
</div>
