<div id="banner" class="border">
  <div class="mt-5">
    <h1 class="text-center">Equal Path</h1>
    <p class="text-center">Be aware of new opportunities</p>
  </div>
  <div>
    <%= cl_image_tag("Arrows/arrow_wvldpy",
          width: 50, height: 50, crop: :fill) %>
  </div>
</div>
