<div id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://slack-imgs.com?c=1&o1=ro&url=https%3A%2F%2Fburst.shopifycdn.com%2Fphotos%2Fhands-typing-laptop-keyboard.jpg%3Fwidth%3D925%26format%3Dpjpg%26exif%3D0%26iptc%3D0);">
  <div class="container text-center">
    <h1 class="mb-3">Equal Path</h1>
<<<<<<< HEAD
    <p class="mt-3">Découvrez de nouvelles opportunitées.</p>
    <a href="#starting" id="arrow" class="mt-3"><%= cl_image_tag("Arrows/arrow_wvldpy",
          width: 50, height: 50, crop: :fill) %></a>
=======
    <p class="mt-3">Decouvrez de nouvelles opportunités.</p>

  <div class="arrow-bounce bounce">
    <a href="#starting" id="arrow" class="mt-3"><%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/v1566983345/white-arrow-png-41944_ykwn8c.png",
          width: 80, height: 80, crop: :fill) %></a>
  </div>

>>>>>>> ad6f391080f6f02359c1aca498298a8a0c1e0db9
  </div>
</div>

<div id="starting">
<<<<<<< HEAD
  <div class="main-container m-20 d-flex flex-column">

    <div class="order-1" style="margin-left: 200px; margin-bottom: 50px">
      <h1>Première Etape</h1>
      <img src="https://organicthemes.com/wp-content/uploads/2013/03/profile-v3-wordpress-theme.jpg" alt="">
      <p>Creez votre profil</p>
    </div>

    <div class="order-2 align-self-end" style="margin-right: 200px; margin-bottom: 50px; margin-top: 50px">
      <h1>Deuxième Etape</h1>
      <img src="https://organicthemes.com/wp-content/uploads/2013/03/profile-v3-wordpress-theme.jpg" alt="">
      <p>Mentionner vos compétences</p>
    </div>

    <div class="order-3" style="margin-left: 200px;  margin-bottom: 50px; margin-top: 50px">
      <h1>Troisième Etape</h1>
      <img src="https://organicthemes.com/wp-content/uploads/2013/03/profile-v3-wordpress-theme.jpg" alt="">
      <p>Trouvez le Job de vos rèves</p>
    </div>

    <div class="order-4 align-self-end" style="margin-right: 200px;">
      <%= link_to "Start now", jobs_path, class: "btn btn-primary mt-5 mb-5" %>
    </div>
=======
  <div class="main-container d-flex flex-column">
    <br>
    <br>
    <h1 class="mb-3">Etape 1</h1>
    <div class="d-flex">
      <div class="mr-3">
        <p>Creer votre profil</p>
      </div>
      <div class="ml-3">
        <img src="https://organicthemes.com/wp-content/uploads/2013/03/profile-v3-wordpress-theme.jpg" alt="">
      </div>
    </div>

    <h1 class="mb-3">Etape 2</h1>
    <div class="d-flex">
      <div class="mr-3">
        <img src="https://organicthemes.com/wp-content/uploads/2013/03/profile-v3-wordpress-theme.jpg" alt="">
      </div>
      <div class="ml-3">
        <p>Entrez vos compétences</p>
      </div>
    </div>

    <h1 class="mb-3">Etape 3</h1>
    <div class="d-flex">
      <div class="mr-3">
        <p>Trouvez le job de vos rêves</p>
      </div>
      <div class="ml-3">
        <img src="https://organicthemes.com/wp-content/uploads/2013/03/profile-v3-wordpress-theme.jpg" alt="">
      </div>
    </div>

    <%= link_to "Start now", jobs_path, class: "btn btn-primary mt-5 mb-5" %>
>>>>>>> ad6f391080f6f02359c1aca498298a8a0c1e0db9
  </div>
</div>

