.arrow-bounce {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.btn-prk {
  background-color:  rgb(253, 178, 48);
  margin: 3rem;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 20px;
  padding:  0.375rem 0.75rem;
}

.btn-prk a {
  text-decoration: none !important;
  color: white;
  }
.btn-prk a:hover{
  text-decoration: none;
  color: white;
  }
