.btn-julien {
  background-color: #f26c00;
  margin: 4rem;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 20px;
  padding:  0.5rem 0.75rem;
  opacity: 0.8;
}

.btn-julien:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}

.skill-btn {
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid #f26c00 2px;
  margin: 4rem;
  font-size: 20px;
  color: black;
  border-radius: 7px;
  box-shadow: 20px;
  padding:  0.5rem 3rem;
  border-radius: 8%;
  opacity: 0.4;
  object-fit: cover;
  font-size: 16px;
}

.skill-btn:hover {
  text-decoration: none !important;
  opacity: 1;
  color: black !important;
}

.user-skill-btn {
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:  #3f9e40;
  margin: 4rem;
  font-size: 16px;
  color: white !important;
  border-radius: 7px;
  box-shadow: 20px;
  padding:  0.5rem 0.75rem;
  border-radius: 8%;
  opacity: 0.6 !important;
}

.user-skill-btn {
  text-decoration: none !important;
  opacity: 1 !important;
  color: white !important;
}


