.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
}

.transparent-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  z-index: 2;
}

.card-product img {
  height: 100%;
  width: 181px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#star {
  position: relative;
  top: 0;
  right: 0;
  padding: 0 20px;
  font-size: 50px;
  color: gold;
}
