.main-container {
  margin: 6rem;
}

.start-container {
  margin: 5rem 5rem 0rem 5rem ;
}

.cards-container {
  // margin: -4rem 0rem 4rem 0rem ;
}


form {
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.user-container {
  margin: 6rem 4rem 6rem 2rem;
  flex-grow: 1;
  width:650px!important;
}
