#header-modal-formation {
display: block !important;
margin-left: auto !important;
margin-right: auto !important;
}

.rounded-logo{
  border-radius: 50%;
  width: 150px;
  object-fit: cover;
  height: 150px;
}

