.navbar-equal-path {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
}

.navbar-equal-path .navbar-collapse {
  flex-grow: 0;
}

.navbar-equal-path .navbar-brand img {
  width: 40px;
}

.navbar-equal-path-transparent {
  background-color: transparent;
}

.link {
  color: #000;
  text-decoration: none !important;
}

.link:hover {
  color: #000;
  text-decoration: none !important;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
