.navbar-equal-path {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
}

.navbar-equal-path .navbar-collapse {
  flex-grow: 0;
}

.navbar-equal-path-transparent {
  background-color: rgba(244, 244, 244, 0.9);
}
.dropdown-toggle{
  color: rgb(255, 172, 4);
    font-weight: 400;

}
.dropdown-toggle:hover {
  color: grey;
}
.link {
  color: rgb(255, 172, 4);
  font-weight: 400;

}

.link:hover {
  color: grey;
  text-decoration: none !important;
}

.navbar-equal-path .logo_first {
  height: auto;
  width: 150px;
}
