.navbar-palm {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
}

.navbar-palm .navbar-collapse {
  flex-grow: 0;
}

.navbar-palm .navbar-brand img {
  width: 40px;
}

.navbar-palm-transparent {
  background-color: transparent;
}
