.search-container {
  // margin: 10rem 6rem 6rem 6rem;
  // display: grid;
  margin-top: 60px;
  padding: 60px 0px;
  text-align: center;
  .h2-search-bar {
    color: white;
    font-weight: bold;
  }
  .research-bar {
    position: absolute;
    top: 147.5px;
    left: 72px;
  }
  .select2 {
    width: 250px !important;

  }
  input {
    width: 250px !important;
    border-radius: 0px !important;
    border-color: rgba (110, 121, 110, 0.5) !important;
  }

  button, #papa {
    background-color: #FFAC04;
    border-radius: 0px;
    border-color: rgba(110, 121, 110, 0.5) !important;
    font-weight: bold;
  }
}

.grey{
  border: red !important;
}

.margin {
margin : 2px;
}

.select2-container--default .select2-selection--multiple
{
  display: flex;
}
.form {
  margin-top: 6px;
  position: absolute;
  top: 80px;
}


.wrapper-black {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dovu27lye/image/upload/v1567697661/BACKGROUND_ai9w3d.jpg");
  position: relative;
  background-size: cover;
  background-position-y: 31%;
}
.search-container h2 {

}

:focus {
  outline: none!important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    margin-bottom: 7px!important;
  display: flex!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin-bottom: 7px;
  display: flex;
}
