.search-container {
  margin: 10rem 6rem 6rem 6rem;
  display: grid;
  .select2 {
    width: 200px !important;
    margin-right: 5px;
    margin-left: 5px;
  }
  input {
    width: 200px !important;
    border-radius: 4px !important;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.search-container h2 {
  align-content: center;
  justify-content: center;
  display: flex;
}

