
.search-container {
  margin: 10rem 6rem 6rem 6rem;
  display: grid;
  .select2 {
    width: 290px !important;
    margin-right: 5px;
    margin-left: 5px;
  }
  input {
    width: 290px !important;
    border-radius: 4px !important;
    margin-right: 5px;
    margin-left: 5px;
    border-color: rgba(110, 121, 110, 0.5) !important;
        }

  button, #papa {
    background-color: #FFAC04;
    border-radius: 20px;
    border-color: rgba(110, 121, 110, 0.5) !important;
  }
}

.search-container h2 {
  align-content: center;
  justify-content: center;
  display: flex;
}


.select2-container--default .select2-selection--multiple
{
  display: flex;
}

.form {
  margin-top: 6px;
}

.search-container h2 {
 margin-top: -54px;
}

:focus {
  outline: none!important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    margin-bottom: 7px!important;
  display: flex!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin-bottom: 7px;
  display: flex;
}
