#skill-search-bar-container {
  width: 750px;
  margin-top: 70px;

}

#skill-keyword {
  width: 70%;
}

#skill-decouvrir {
  width: 30%;
  background-color: #FFAC04;
  border-radius: 0px;
  font-weight: bold;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-left: 0px !important;
  border: #FFAC04;
}
